{% extends "layout.html" %}
{% block content %}
<div id="landing-top" class="d-flex align-items-center my-5">
  <div id="block-container" class="container">
    <div class="landing-block p-3">
      <h1 class="landing-title">
        Hey, I'm Jean - A Software
        <br>
        Engineer from Asheville.
      </h1>
      <p class="mt-4">I develop clean, scalable code, ensuring robust performance and maintainability. I have a proven track record of delivering high-quality solutions across various industries.</p>
      <a class="email-link mt-4" href="mailto:me@jeanbougeois.com">me@jeanbougeois.com</a>
    </div>
  </div>
</div>
{% endblock content%}